@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p id="second">Zarządzaj z nami swoimi zadaniami</a>.</p>
    <br />
</div>
<br />
<div class="text-center">
    <img src="https://media.tenor.com/zar_zkqZgakAAAAC/to-do-list-nothing.gif" alt="animacja" />
</div>
<br /><br /><br /><br />
<div class="text-center">
    <p><em>"Żadne zadanie nie jest szczególnie trudne, jeśli podzielisz je na mniejsze podzadania."</em></p>
    <p>~ Henry Ford</p>
</div>

