
@{
    ViewData["Title"] = "Motywator";
}
<br />
<h4>Motywator</h4>
<br />

<p>Gdy Ci smutno, gdy Ci źle, złap se cytat, rozchmurz się.</p>
<br /><br />

<p>"Lubię deszcz, bo w deszczu nie widać moich łez :("</p>
<p>~ Mikołaj Miklas</p>
<br />
<p>"Życie jest tym, co nam się przydarza, gdy jesteśmy zajęci snuciem innych planów."</p>
<p>~ John Lennon</p>
<br />
<p>"Jeśli marnowanie czasu daje Ci radość to nie jest czas zmarnowany."</p>
<p>~ John Lennon</p>
<br />
<p>"I tak na końcu miłość, którą otrzymujesz jest równa miłości, którą dajesz."</p>
<p>~ Paul McCartney</p>
<br />
<p>"Bez względu na to, ile popełnisz błędów albo jak wolno idą postępy i tak 
    jesteś przed tymi, którzy nie próbują wcale."</p>
<p>~ Tom Robbins</p>
<br />

